.hotel-card {
  width: 1104px;
  padding: 30px;
  border: 1px solid var(--app-hotel-card-background);
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: var(--app-white);
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  contain: layout;
}

.hotel-top {
  display: flex;
  gap: 40px;

}

.hotel-right {
  display: flex;
  align-items: center;
}

.hotel-main-wrapper {
  display: flex;
  gap: 40px;
}

.hotel-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hotel-image {
  width: 137px;
  height: 137px;
  border-radius: 12px;
  overflow: hidden;
  background: var(--app-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.hotel-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-placeholder {
  color: var(--app-white);
  font-size: 40px;
}

.hotel-main-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hotel-name {
  width: 472px;
  height: 25px;
  margin: 0;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-weight: var(--hotel-label-weight);
  font-size: 20px;
  line-height: 100%;
  color: var(--app-primary);
}

.hotel-location {
  width: 472px;
  height: 17px;
  margin: 0;
  font-weight: var(--app-weigth-400);
  font-size: 12px;
  line-height: 100%;
  color: var(--app-medium-gray);
}

.hotel-description {
  width: 472px;
  height: 60px;
  margin: 0;
  font-weight: var(--app-weigth-300);
  font-size: 12px;
  line-height: 100%;
  color: var(--app-black);
}

.promo-card {
  width: 244px;
  height: 119px;
  background: var(--app-white);
  border: 0.5px solid var(--app-border-promotions);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.promo-card h3 {
  margin: 0;
  font-weight: var(--app-weigth-500);
  font-size: 14px;
  color: var(--app-primary);
}

.promo-card ul li::marker {
  color: var(--app-secondary);
}

.promo-card ul {
  padding-left: 18px;
  margin: 0;
  font-weight: var(--app-weigth-promotions);
  font-size: 12px;
  color: var(--app-black);
}

.hotel-action {
  margin-left: auto;
}

.book-btn {
  width: 100px;
  height: 70px;
  background: var(--app-secondary);
  color: var(--app-white);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: var(--hotel-label-weight);
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.book-icon {
  font-size: 20px;
}

.book-btn:hover {
  opacity: 0.85;
  transform: translateY(-3px);
}

.rooms-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}