<div class="hotel-card">

  <!-- Imagen -->
  <div class="hotel-image">
    @if (hotel().images?.length) {
      <img 
        [src]="hotel().images![0]" 
        [alt]="hotel().name"
      />
    } @else {
      <div class="image-placeholder">
        🏔
      </div>
    }
  </div>

  <!-- Info principal -->
  <div class="hotel-main-info">
    <h2 class="hotel-name">
      {{ hotel().name }}
    </h2>

    <p class="hotel-location">
      📍 {{ hotel().location }}
    </p>

    @if (hotel().description) {
      <p class="hotel-description">
        {{ hotel().description }}
      </p>
    }
  </div>

  <!-- Promociones -->
  <div class="promo-card">
    <h3>Promociones Disponibles</h3>
    <ul>
      <li>Carnaval</li>
      <li>Familias de 8 integrantes</li>
      <li>Niños menores de 5 años no pagan estadía</li>
      <li>Desayuno incluido</li>
    </ul>
  </div>

  <!-- Botón -->
  <button class="book-btn">
    <span class="book-icon">📅</span>
    <span>Book</span>
  </button>

</div>